## Cargar librerías

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
import os
from sklearn.preprocessing import StandardScaler, MinMaxScaler

## Cargar datos y visualizar primeras filas del dataset train

In [14]:
# Leer el csv y sacar por pantalla las cinco primeras filas.

# Leer el archivo CSV
df_train = pd.read_csv(r'C:\Users\Administrator\Documents\Proyecto Spaceship Titanic\spaceship_titanic_proyecto\Data\spaceship-titanic\train.csv')

# Mostrar las primeras filas del archivo
print(df_train.head())

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0001_01     Europa     False  B/0/P  TRAPPIST-1e  39.0  False
1     0002_01      Earth     False  F/0/S  TRAPPIST-1e  24.0  False
2     0003_01     Europa     False  A/0/S  TRAPPIST-1e  58.0   True
3     0003_02     Europa     False  A/0/S  TRAPPIST-1e  33.0  False
4     0004_01      Earth     False  F/1/S  TRAPPIST-1e  16.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0          0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1        109.0        9.0          25.0   549.0    44.0       Juanna Vines
2         43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3          0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4        303.0       70.0         151.0   565.0     2.0  Willy Santantines

   Transported
0        False
1         True
2        False
3        False
4         True

## Cargar datos y visualizar primeras filas del dataset test

In [15]:
# Leer el csv y sacar por pantalla las cinco primeras filas.

# Leer el archivo CSV
df_test = pd.read_csv(r'C:\Users\Administrator\Documents\Proyecto Spaceship Titanic\spaceship_titanic_proyecto\Data\spaceship-titanic\test.csv')

# Mostrar las primeras filas del archivo
print(df_test.head())

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0013_01      Earth      True  G/3/S  TRAPPIST-1e  27.0  False
1     0018_01      Earth     False  F/4/S  TRAPPIST-1e  19.0  False
2     0019_01     Europa      True  C/0/S  55 Cancri e  31.0  False
3     0021_01     Europa     False  C/1/S  TRAPPIST-1e  38.0  False
4     0023_01      Earth     False  F/5/S  TRAPPIST-1e  20.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name
0          0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1          0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2          0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3          0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4         10.0        0.0         635.0     0.0     0.0   Brence Harperez

## Identificar si los conjuntos de datos (train.csv y test.csv) contienen valores nulos

In [20]:
# Verificar los valores nulos en el conjunto de entrenamiento
nulos_train = df_train.isnull().sum()
print("Valores nulos en el conjunto de entrenamiento:")
print(nulos_train[nulos_train > 0])

# Verificar los valores nulos en el conjunto de prueba
nulos_test = df_test.isnull().sum()
print("Valores nulos en el conjunto de prueba:")
print(nulos_test[nulos_test > 0])

Valores nulos en el conjunto de entrenamiento:
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
dtype: int64
Valores nulos en el conjunto de prueba:
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

# Tipos de variables en los dataset de train y test

In [21]:
# Mostrar los tipos de cada columna
print(df_train.dtypes)
print(df_test.dtypes)

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object
PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
dtype: object

# Imputar valores nulos 
Numéricas: imputar los valores faltantes en las columnas numéricas usando la media, mediana o algún otro valor estadístico.
Categóricas: imputar los valores faltantes con la moda (valor más frecuente) o crear una nueva categoría para "desconocido".

Primero para las variables numericas

In [22]:
# Identificar columnas numéricas
numerical_cols = df_train.select_dtypes(include=['float64', 'int64']).columns

# Crear el imputador para la media
imputer = SimpleImputer(strategy='mean')

# Imputar valores faltantes en el conjunto de entrenamiento
df_train[numerical_cols] = imputer.fit_transform(df_train[numerical_cols])

# Imputar valores faltantes en el conjunto de prueba usando el mismo imputador
df_test[numerical_cols] = imputer.transform(df_test[numerical_cols])

# Verificar el resultado
print("Valores nulos en el conjunto de entrenamiento después de la imputación:")
print(df_train.isnull().sum())

print("Valores nulos en el conjunto de prueba después de la imputación:")
print(df_test.isnull().sum())

Valores nulos en el conjunto de entrenamiento después de la imputación:
PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64
Valores nulos en el conjunto de prueba después de la imputación:
PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age               0
VIP              93
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name             94
dtype: int64

Ahora imputación de la variables categoricas

In [23]:
# Identificar columnas categóricas
categorical_cols = df_train.select_dtypes(include=['object', 'category']).columns

# Crear el imputador para la moda
imputer = SimpleImputer(strategy='most_frequent')

# Imputar valores faltantes en el conjunto de entrenamiento
df_train[categorical_cols] = imputer.fit_transform(df_train[categorical_cols])

# Imputar valores faltantes en el conjunto de prueba usando el mismo imputador
df_test[categorical_cols] = imputer.transform(df_test[categorical_cols])

# Verificar el resultado
print("Valores nulos en el conjunto de entrenamiento después de la imputación:")
print(df_train.isnull().sum())

print("Valores nulos en el conjunto de prueba después de la imputación:")
print(df_test.isnull().sum())

Valores nulos en el conjunto de entrenamiento después de la imputación:
PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64
Valores nulos en el conjunto de prueba después de la imputación:
PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64

#### Buscar valores extraños. Para ello, ver los valores únicos en cada feature

In [27]:
# Función para crear el DataFrame de características y valores únicos
def create_features_values_df(df):
    # Contar el número de valores únicos en cada columna
    n_values = df.nunique()
    
    # Obtener el tipo de cada columna
    types = df.dtypes
    
    # Crear un nuevo DataFrame con las columnas 'features', 'n_values' y 'type'
    df_features_values = pd.DataFrame({
        'features': n_values.index,
        'n_values': n_values.values,
        'type': types.values
    })
    
    return df_features_values

# Para el dataset train
df_features_train = create_features_values_df(df_train)
print("Características y valores únicos en el conjunto de entrenamiento:")
print(df_features_train)

# Para el dataset test
df_features_test = create_features_values_df(df_test)
print("\nCaracterísticas y valores únicos en el conjunto de prueba:")
print(df_features_test)

Características y valores únicos en el conjunto de entrenamiento:
        features  n_values     type
0    PassengerId      8693   object
1     HomePlanet         3   object
2      CryoSleep         2   object
3          Cabin      6560   object
4    Destination         3   object
5            Age        81  float64
6            VIP         2   object
7    RoomService      1274  float64
8      FoodCourt      1508  float64
9   ShoppingMall      1116  float64
10           Spa      1328  float64
11        VRDeck      1307  float64
12          Name      8473   object
13   Transported         2     bool

Características y valores únicos en el conjunto de prueba:
        features  n_values     type
0    PassengerId      4277   object
1     HomePlanet         3   object
2      CryoSleep         2   object
3          Cabin      3266   object
4    Destination         3   object
5            Age        80  float64
6            VIP         2   object
7    RoomService       843  float64
8      FoodCourt       903  float64
9   ShoppingMall       716  float64
10           Spa       834  float64
11        VRDeck       797  float64
12          Name      4177   object

## Eliminar las columnas que tienen un alto valor de valores únicos que pueden indicar que son variables no muy informativas para un proceso de predicción

In [30]:
# Eliminar columnas del conjunto de entrenamiento y de prueba
df_train_clean = df_train.drop(columns=['Name', 'Cabin'])
df_test_clean = df_test.drop(columns=['Name', 'Cabin'])

## Identificar la variable objetivo
En este caso, la variable objetivo (el valor que deseo predecir) es Transported, que es una variable binaria en el dataset de Spaceship Titanic.

## Separar las características y la variable objetivo en el dataset de entrenamiento train.csv
Ahora separo las características (X) de la variable objetivo (y) en el conjunto de entrenamiento (train).

X_train contendrá todas las características excepto la columna Transported.
y_train contendrá solo la columna Transported

In [47]:
# Separar la variable objetivo 'Transported' de las características
X_train = df_train_clean.drop(columns=['Transported'])  # Características del conjunto de entrenamiento
y_train = df_train_clean['Transported']  # Variable objetivo

# Asegurarte de que la carpeta 'data' exista
if not os.path.exists('./data'):
    os.makedirs('./data')

# Guardar X_train y y_train como archivos CSV
X_train.to_csv('./data/X_train.csv', index=False)
y_train.to_csv('./data/y_train.csv', index=False)

X_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

## Manejar el conjunto de prueba (test.csv)
El conjunto de prueba normalmente no contiene la variable objetivo, ya que su propósito es evaluar el rendimiento del modelo sobre datos no vistos. Por lo tanto, simplemente puedes usar todo el dataset de prueba (df_test) como las características que pasarás al modelo.

In [49]:
# El conjunto de prueba solo contiene características (X_test)
X_test = df_test.copy()

# Asegurarte de que la carpeta 'data' exista
if not os.path.exists('./Data/'):
    os.makedirs('./Data/')

# Guardar X_test como un archivo CSV
X_test.to_csv('./Data/X_test.csv', index=False)